[%  INCLUDE header.tt
      title = 'This is an HTML example';
%]

   <h1>Some Interesting Links</h1>
   <ul>
[%  FOREACH page IN pages %]
     <li><a href="[% page.url %]">[% page.title %]</a>
[%  END %]
   </ul>

[% INCLUDE footer.tt %]
